# Supabase Configuration
VITE_SUPABASE_URL=https://veycnsueeljctsahdaky.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZleWNuc3VlZWxqY3RzYWhkYWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMjk0NDMsImV4cCI6MjA5MzkwNTQ0M30.liQBmjmrKGZ2Xy1ZBCkPiOzEsuNT4jno8uyAcGiD5XY

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=BJVcLvtVJsffKQySWHfMTnwjMDi1M1O7wCnHmxz6NKo9_QyoFHgjdsloUjrqm-tyoHOBe7jOXeq68GBLo39G2L8

# Mercado Pago Configuration (SaaS)
# A Public Key é usada no frontend para inicializar o checkout.
VITE_MERCADO_PAGO_PUBLIC_KEY=APP_USR-2717042508401886-060221-a9913a6dda0cbfae0e29fb65bd960b70-228356800
VITE_SUBSCRIPTION_API_URL=https://us-central1-estetica-f543c.cloudfunctions.net/createSubscriptionPreference

# O Access Token NUNCA deve ser exposto no frontend (VITE_).
# Ele deve ser usado apenas em funções backend ou serverless para criar preferências de pagamento.
# MP_ACCESS_TOKEN=SEU_ACCESS_TOKEN_AQUI
# MP_WEBHOOK_URL=https://us-central1-estetica-f543c.cloudfunctions.net/mercadopagoWebhook
